<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>

    <form action="/carrera" method="post" class="default-form">
        
        <div class="campo">
            <label>Docente</label>
            <input type="text" name="docente" placeholder="Nombre completo">
        </div>

        <div class="campo">
            <label>Especialidad</label>
            <input type="text" name="especialidad" placeholder="">
        </div>
        
        <div class="campo">
            <label>Carrera</label>
            <input type="text" name="nombre" placeholder="Nombre completo de la especialidad">
        </div>

        <div class="campo">
            <label>Nomenclatura</label>
            <input type="text" name="nomenclatura" placeholder="">
        </div>


        <div class="campo enviar">
            <input type="submit" class="btn btn-verde" value="Guardar">
        </div>


    </form>
</main>