<main class="contenedor contenedor-formularios">
    <h1>Registro de Equipo</h1>

    <form action="/especialidades" method="post" class="default-form">
        
        <div class="campo">
            <label>Especialidad</label>
            <input type="text" name="especialidad" placeholder="Nombre completo">
        </div>


        <div class="campo">
            <label>Nomenclatura</label>
            <input type="text" name="nomenclatura" placeholder="">
        </div>


        <div class="campo enviar">
            <input type="submit" class="btn btn-verde" value="Guardar">
        </div>


    </form>
</main>