<main class="contenedor contenedor-formularios">
    <h1>Registro de Equipos </h1>

    <form action="/formulario" method="post" class="default-form">

        <fieldset>
            <div class="campo">
                <label>Numero de Inventario</label>
                <input type="number" name="Inventario" placeholder="">
            </div>
    
            <div class="campo">
                <label>Computadora/Dispositivo</label>
                <input type="text" name="dispositivo" placeholder="">
            </div>
    
            <div class="campo">
                <label>Sistema operativo</label>
                <input type="text" name="sistemaOperativo" placeholder="">
            </div>

            <div class="campo">
                <label>Marca</label>
                <input type="marca" name="marca" placeholder="">
            </div>

            <div class="campo">
                <label>Memoria ram</label>
                <input type="text" name="memoriaRam" placeholder="">
            </div>
            
            <div class="campo">
                <label>Tarjeta Grafica</label>
                <input type="text" name="tarjeta" placeholder="">
            </div>

            <div class="campo">
                <label>Procesador</label>
                <input type="text" name="procesador" placeholder="">
            </div>

            <div class="campo">
                <label>Disco Duro</label>
                <select name="dd">
                    <option value="" selected disabled>-- Seleccione --</option>
                    <option value="250GB">250GB</option>
                    <option value="500GB">500GB</option>
                    <option value="1TB">1TB</option>
                </select>
            </div>

            <div class="campo">
                <label>Funcional</label>
                <select name="funcional">
                    <option value="" selected disabled>--seleccione--</option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>

            <div class="campo1">
                <label>Observaciones</label>
                <input type="descripcion" name="descripcion" placeholder="descripcion">
            </div>

            <br>
            <br>

            <div class="campo">
                <label>Imagen</label>
                <input type="file" name="imagen">
            </div>

        </fieldset>  
        <legend>
            Responsable del laboratorio
        </legend>

        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre completo del responsable del laboratorio">
        </div>

        <div class="campo">
            <label>Especialidad</label>
            <input type="text" name="especialidad" placeholder="">
        </div>
        </fieldset>

        <div class="campo enviar">
            <input type="submit" class="btn btn-azul2" value="Guardar">
        </div>

      


    </form>   
</main>