<main>
    <h1><%= nombrePagina %> </h1>
    
<div class="img1">
    <img class="img1" src="/img/estudiantes.png">
</div>

    <h2>Gracias!!!</h2>
    <h2>Por completar la Evaluación Docente</h2>

    <button onclick="window.location.href='/IniciarSesion'" class="btn btn-rojo">Regresar</button>


</main>
