<main>
    <h1> Inventario de Mobiliario UTT </h1>
    
<div class="img1">
    <img class="img1" src="/img/inventario.png">
</div>

    <h2>Gracias!!!</h2>

    <button onclick="window.location.href='/IniciarSesion'" class="btn btn-amarillo">Regresar</button>


</main>
