<main class="contenedor contenedor-formularios">
    <h1>Iniciar Sesion</h1>

    <form action="/IniciarSesion" method="post" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="text" name="email" placeholder="Ingresa tu email">
        </div>

        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password del alumno">
        </div>
        

        <div class="campo iniciar sesion">
            <input type="submit" class="btn-azul2" value="Iniciar sesión">

        </div>


    </form>
</main>