<main>
    <h1><%= nombrePagina %> </h1>
<h2>Instrucciones</h2>

<div class="img1">
    <img class="img1" src="/img/estudiantes.png">
</div>


<div class="caja-texto">
<p1>El prop칩sito del presente cuestionario es conocer tu punto de vista respecto al docente y su asignatura.
    Este ejercicio requiere de tu parte ser objetivo en tu punto de vista, por lo que ser치 an칩nimo.
    Para contestar cada una de las preguntas utiliza una escala descendente de 4 a 0 de la forma de representaci칩n siguiente:</p1>
    <ul>
        <li>(4) siempre o muy bien</li>
        <li>(3) muchas veces o bien</li>
        <li>(2) algunas veces o mal</li>
        <li>(1) nunca o muy mal</li>
        <li>(0) no se realiza la actividad o no aplica</li>
      </ul>
</div>

<button onclick="window.location.href='/formulario'" class="btn btn-verde">Comenzar</button>



</main>


