<main>
    <h1> </h1>
<h2>Bienvenido a Inventarios UTT</h2>

<div class="button-container">
    <div class="img-button" onclick="window.location.href='/formulario'">
        <img src="/img/visualizar.png" alt="Visualizar" />
    </div>
</div>

<div class="button-container">
    <div class="img-button" onclick="window.location.href='/formulario'">
        <img src="/img/galeria.png" alt="Galería" />
    </div>
</div>

    <div class="button-container">
        <div class="img-button" onclick="window.location.href='/formulario'">
            <img src="/img/ver.png" alt="Ver" />
        </div>

</main>


