<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width",
        initial-scale=1.0>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Evaluación Docente - <%- nombrePagina %> </title>
        <link rel="stylesheet" 
        href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
       <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/css/app.css">
       

    </head>
    <body>
        <head class="site-header contenedor">
            <a href="/">
                <img src ="/img/LogoUTT.png" alt="LogoUTT">
            </a>

            <nav class="nav">
                <a href="/crear_cuenta">Crear Cuenta</a>
                <a href="/IniciarSesion">Iniciar Sesión</a>               
            </nav>
        </head>

        <% if (locals.mensajes) { %>
            <% const categoria = Object.keys(locals.mensajes) %>
            <% if(categoria.length) { %>
                <% locals.mensajes[categoria].forEach(alerta => { %>
                    <div class="alertas">
                       <p class="alerta <%= categoria %>"> <%= alerta %></p>
                    </div>
               <% }) %> 
             <% } %>
         <% } %>

        <%- body %>

    </body>
</html>