<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>

    <form action="/materias" method="post" class="default-form">
        
        
        <div class="campo">
            <label>Materia</label>
            <input type="text" name="materia" placeholder="">
        </div>


        <div class="campo enviar">
            <input type="submit" class="btn btn-verde" value="Guardar">
        </div>


    </form>
</main>